body {
  padding-inline: 20px;
}
.header {
  width: 100%;
  height: 120px;
  justify-content: space-between;
  width: calc(100% - 40px);
  background-color: rgba(28, 28, 29, 0.997);
}

#menu {
  display: none;
}
.header img {
  position: absolute;
  top: -10px;
  left: 30px;

  width: 130px;
  height: 130px;
  object-fit: contain;
}
.header ~ nav {
  display: block;
}
.header .header-navigation {
  height: 120px;
  top: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 1;
}
.navigation-list {
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  right: 0;

  height: auto;
}
.navigation-list li {
  position: relative;
}
.header .header-navigation .navigation-list li a {
  text-align: center;
  font-size: 2.2rem;
}
.navigation-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.navigation-list li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}
.header-navigation .social-medias {
  top: calc(50% - 16px);
  right: 0;
}
.header-navigation .instagram-icon {
  font-size: 3.2rem;
  align-self: center;
}
.header-navigation .facebook-icon {
  font-size: 3.2rem;
  align-self: center;
}
.header-navigation .whatsapp-icon {
  position: relative;
  font-size: 3.2rem;
  align-self: center;
}

#menu-check:not(:checked) ~ .header-navigation {
  display: block;
}
.content-main {
  overflow: hidden;
  flex-direction: row;
  height: 100vh;
}

.content-main .section-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  overflow-x: visible;
}
.content-main .section-left-animated {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  width: 60%;
  -webkit-animation: slideIn 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slideIn 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slideIn {
  0% {
    animation-timing-function: ease-in-out;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in-out;

    width: 60%;
  }
}

.content-main .section-left h3 {
  font-size: 3.9rem;
  text-align: center;
  font-weight: 700;
  width: 250px;
  z-index: 10;
  color: #ff7f24;
  font-family: "Hind Madurai", sans-serif;
}

.content-main .section-left p {
  font-size: 2.2rem;
  width: 80%;
  margin: 20px auto;
  text-align: center;

  font-family: "Hind Madurai", sans-serif;
  color: #dddddd;
  z-index: 10;
}
.content-main .section-left a {
  font-size: 1.5rem;
  color: #dddddd;

  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #222222;
  border-radius: 6px;
  background-color: #ae4800;
  font-family: "Hind Madurai", sans-serif;
  z-index: 10;
}
.content-main .section-left a:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.content-main .content-main__image {
  height: 100vh;
  object-fit: cover;
}
.content-main__image div .button-mobile {
  display: none;
}
.content-about-me {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 10px;
}
.content-about-me::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 78%;
  height: 2px;
  background-color: rgba(169, 22, 164, 0.6);
}
.content-about-me::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 78%;
  height: 2px;
  background-color: rgba(169, 22, 164, 0.6);
}
.content-about-me .about-me-image {
  width: 420px;
  height: 420px;
  background-position: center;
  border-radius: 0;
}
.content-about-me .description {
  overflow: hidden;
  display: flex;
  width: 60%;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.content-about-me .description .title {
  margin-bottom: 20px;
}
.content-about-me .description .text-brand {
  width: 70%;
}
.content-about-me .description .text-explain {
  width: 75ch;
}
.section-map {
  flex-direction: row;
}
.section-map div {
  width: 40%;
}
