.header {
  top: 16px;
  justify-content: space-between;
  width: calc(100% - 40px);
  background-color: transparent;
}

#menu {
  display: none;
}
.header img {
  position: absolute;
  top: -10px;
  left: 30px;

  width: 160px;
  height: 150px;
  object-fit: cover;
}
.header ~ nav {
  display: block;
}
.header .header-navigation {
  height: auto;
  top: 0;
  display: block;
  background-color: transparent;
  opacity: 1;
}
.navigation-list {
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 10px;
  right: 0;

  height: auto;
}
.navigation-list li {
  position: relative;
}
.header .header-navigation .navigation-list li a {
  text-align: center;
  font-size: 1.6rem;
}
.navigation-list li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 4px;

  background-color: rgb(255, 255, 255);
}

.navigation-list li a:hover::after {
  animation: borderAnimated 800ms;
  transform-origin: right;
}
@keyframes borderAnimated {
  0% {
    width: 0%;
  }
  100% {
    width: calc(100% + 6%);
    transform-origin: left;
  }
}
#menu-check:not(:checked) ~ .header-navigation {
  display: block;
}
.content-main {
  overflow: hidden;
  flex-direction: row;
  height: 100vh;
}
.content-main .section-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  width: 65%;
  background-image: url("assets/IMG_20221121_180931.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideIn 2.5s ease;
}
.content-main .section-left:hover {
  overflow: hidden;
  transform: scale(1.1);
  transition: 1s ease-in;
}
@keyframes slideIn {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 65%;
  }
}

.content-main .section-left h3 {
  font-size: 2.9rem;
  text-align: center;
  font-weight: 700;
  width: 250px;

  color: #ff7f24;
  font-family: "Hind Madurai", sans-serif;
}

.content-main .section-left p {
  font-size: 1.5rem;
  width: 250px;

  font-family: "Hind Madurai", sans-serif;
  color: #dddddd;
}
.content-main .section-left a {
  font-size: 1.5rem;
  color: #dddddd;

  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #222222;
  border-radius: 6px;
  background-color: #ae4800;
  font-family: "Hind Madurai", sans-serif;
}
.content-main .section-left a:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.content-main .content-main__image {
  height: 100vh;
}
